<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Mini-Airbnb</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <a href="/compte">Mon compte</a>
</body>
</html>
