<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Déconnexion</title>
  <link rel="stylesheet" href="/css/deconnexion.css">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
  <div class="logout-container">
    <h1>Vous êtes déconnecté</h1>
    <p>Merci d’avoir utilisé notre service.</p>
    <a href="/connexion" class="btn-login">Se reconnecter</a>
    <a href="/inscription" class="btn-signup">Créer un compte</a>
  </div>
</body>
</html>
