<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title><%= logement.titre %></title>
</head>
<body>
  <h1><%= logement.titre %></h1>
  <p>Prix : <%= logement.prix %>€ / nuit</p>
  <p>Description : <%= logement.description %></p>
  <a href="/">← Retour</a>
</body>
</html>
